@model RestaurantMS.Models.FoodItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drink_capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drink_capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Food_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
