@model RestaurantMS.Models.DeliveryCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryCar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.License_plate">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
