@model IEnumerable<RestaurantMS.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
Here are what our customers have to say:
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                Store ID
            </th>
            <th>
                Customer ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Review_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Review_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Review_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
